{% extends 'core/base_content.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum expedita reprehenderit, hic voluptatem voluptatibus in inventore harum provident dolor amet sunt eum beatae laborum. Totam saepe dolorum tempora aperiam explicabo?</p>
    </div>
  </div>

{% endblock %}
