{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} | Servicio Técnico</title>
  {# Para cargar ficheros estaticos. Es importante hacer referencia al directorio Core #}
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
</head>
<body>
  <!-- Cabecera -->
  {% include 'core/header.html' %}
  <!-- Contenido -->
  {% block base_content %}{% endblock %}
</body>
</html>
