{% extends 'core/base.html' %}

{% block base_content %}

<div class="container">
  <div class="row pt-2">
    <div class="col-md-12">
      <img class="rounded d-block mx-auto" src="{% block dash-img %}{% endblock %}" alt="">
      <h1>{% block title %}{% endblock %}</h1>
      {% if request.path != "/about/" %}
        <hr>
      {% endif %}
    </div>
  </div>
  {% block content %}{% endblock %}
</div>

{% endblock %}
