<div class="container-fluid bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">SERVICIO TÉCNICO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Escritorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users-home' %}">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
